

html
  // 强制设置全局rem使用
  font-size: $font-size-base!important
  line-height: 1.5
h1, h2, h3
  color: $brand-primary
h1
  margin-top: 2rem
  margin-bottom: 2rem
  @include respond-to(handhelds)
    margin-top: 2rem
    margin-bottom: 1rem
h2
  margin-top: 3rem
  margin-bottom: 2rem
  @include respond-to(handhelds)
    margin-bottom: 1rem
ul
  padding: 0
  margin: 0
  list-style: none
section
  padding-top: 4rem
  padding-bottom: 10rem
  @include respond-to(handhelds)
    padding: 2rem 0
.row
  margin-left: 0
  margin-right: 0
.clearfix:after
  content: ''
  display: 'block'
  clear: both
.shadow-3d:before
  content: ""
  display: block
  position: absolute
  top: 30px
  left: 25px
  right: 16px
  bottom: 8px
  z-index: -1
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.8)
  -webkit-transform: translateZ(-1em) skew(-10deg, 0) rotate(-4deg)
  -o-transform: translateZ(-1em) skew(-10deg, 0) rotate(-4deg)
  -ms-transform: translateZ(-1em) skew(-10deg, 0) rotate(-4deg)
  -moz-transform: translateZ(-1em) skew(-10deg, 0) rotate(-4deg)
  transform: translateZ(-1em) skew(-10deg, 0) rotate(-4deg)
.shadow-3d:after
  content: ""
  display: block
  position: absolute
  top: 30px
  left: 16px
  right: 25px
  bottom: 8px
  z-index: -1
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.8)
  -webkit-transform: translateZ(-1em) skew(10deg, 0) rotate(4deg)
  -o-transform: translateZ(-1em) skew(10deg, 0) rotate(4deg)
  -ms-transform: translateZ(-1em) skew(10deg, 0) rotate(4deg)
  -moz-transform: translateZ(-1em) skew(10deg, 0) rotate(4deg)
  transform: translateZ(-1em) skew(10deg, 0) rotate(4deg)

// 设置ruby红色
$text-color-red: #B74627

// navbar补充设置
.navbar-brand
  font-size: $font-size-h2
.navbar-brand-subtitle
  font-size: $font-size-h6
  margin-left: 0.5em

$carousel-height: 512px
$carousel-height-xs: 256px
$carousel-height-sm: 256px + 128px
// 海报设置
.carousel
  height: $carousel-height
  .item
    height: $carousel-height
    img
      max-width: 100%
      max-height: 400%
      position: absolute
      top: 0px
      right: 0
      bottom: 100px
      left: 0
      margin: auto 

      @include respond-to(wide-screens) 
        bottom: 300px
      @include respond-to(handhelds)
        max-width: 180%
        left: -20px
        top: 20px
      @include respond-to(pad)
        max-width: 200%
        left: -200px

    @include respond-to(handhelds)
      height: $carousel-height-xs
    @include respond-to(pad)
      height: $carousel-height-sm

  @include respond-to(handhelds)
    height: $carousel-height-xs
  @include respond-to(pad)
    height: $carousel-height-sm

.carousel-caption
  color: #EEE9CE
