// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome
  @extend .container
  p
    span
      color: $text-color-red
      font-weight: 900

  ul.if 
    li
      margin-bottom: 0.5rem
    li
      .fa       
        margin-right: 0.5rem
        line-height: 1.5
        font-size: 1.1rem
        @include transition-all(0.2s ease-out)
      &:hover .fa
        color: $brand-primary
        @include rotate(360deg)

.products
  background-image: url($products-bg)
  background-attachment: fixed
  background-size: cover
  background-position: center
  height: 36rem
  z-index: 0
  position: relative
  .thumbnail
    @extend .clearfix
    @extend .shadow-3d
    position: relative
    padding-bottom: 2rem
    @include transition-all(0.2s ease-out)
    @include transform-style(preserve-3d)
    .image-wrap
      overflow: hidden
    img
      height: 12rem
      max-width: 200%
      position: relative
      @include transition-all(1s ease-out 0.1s)
    .label
      float: left
      margin-right: 0.2rem
    &:hover 
      @include rotate(-1deg)
      @include transform-origin(top right)
      img
        @include translateX(-1.5rem)
  @include respond-to(handhelds)
    height: 86rem
  @include respond-to(pad)
    height: 56rem
